<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>AppSales</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>currency</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>USD</string>
			<key>Key</key>
			<string>currencyCode</string>
			<key>Title</key>
			<string>currencyCode</string>
			<key>Titles</key>
			<array>
				<string>AED</string>
				<string>AUD</string>
				<string>BHD</string>
				<string>BND</string>
				<string>BRL</string>
				<string>CAD</string>
				<string>CHF</string>
				<string>CLP</string>
				<string>CNY</string>
				<string>CYP</string>
				<string>CZK</string>
				<string>DKK</string>
				<string>EUR</string>
				<string>GBP</string>
				<string>HKD</string>
				<string>HUF</string>
				<string>IDR</string>
				<string>ILS</string>
				<string>INR</string>
				<string>ISK</string>
				<string>JPY</string>
				<string>KRW</string>
				<string>KWD</string>
				<string>KZT</string>
				<string>LKR</string>
				<string>MTL</string>
				<string>MUR</string>
				<string>MXN</string>
				<string>MYR</string>
				<string>NOK</string>
				<string>NPR</string>
				<string>NZD</string>
				<string>OMR</string>
				<string>PKR</string>
				<string>QAR</string>
				<string>RUB</string>
				<string>SAR</string>
				<string>SEK</string>
				<string>SGD</string>
				<string>SKK</string>
				<string>THB</string>
				<string>TWD</string>
				<string>USD</string>
				<string>ZAR</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>AED</string>
				<string>AUD</string>
				<string>BHD</string>
				<string>BND</string>
				<string>BRL</string>
				<string>CAD</string>
				<string>CHF</string>
				<string>CLP</string>
				<string>CNY</string>
				<string>CYP</string>
				<string>CZK</string>
				<string>DKK</string>
				<string>EUR</string>
				<string>GBP</string>
				<string>HKD</string>
				<string>HUF</string>
				<string>IDR</string>
				<string>ILS</string>
				<string>INR</string>
				<string>ISK</string>
				<string>JPY</string>
				<string>KRW</string>
				<string>KWD</string>
				<string>KZT</string>
				<string>LKR</string>
				<string>MTL</string>
				<string>MUR</string>
				<string>MXN</string>
				<string>MYR</string>
				<string>NOK</string>
				<string>NPR</string>
				<string>NZD</string>
				<string>OMR</string>
				<string>PKR</string>
				<string>QAR</string>
				<string>RUB</string>
				<string>SAR</string>
				<string>SEK</string>
				<string>SGD</string>
				<string>SKK</string>
				<string>THB</string>
				<string>TWD</string>
				<string>USD</string>
				<string>ZAR</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
